baseURL: 'https://garrett-kirsch.ceo'
languageCode: "en-us"
title: "Garrett Kirsch"
theme: "hugo-profile"

canonifyURLs: true
relativeURLs: false

outputs:
  home:
    - "HTML"
    - "RSS"
    - "JSON"
  page:
    - "HTML"
    - "RSS"

enableRobotsTXT: true

#services:
  #googleAnalytics:
    #id: G-MEASUREMENT_ID
  #disqus:
    #shortname: your-disqus-shortname

pagination:
  pagerSize: 3

markup:
  goldmark:
    renderer:
      unsafe: true


Menus:
  main:
    - identifier: friends
      name: Friends
      title: Friends of Mine
      url: /friends/
      weight: 1
    # - identifier: gallery
    #   name: Gallery
    #   title: Blog posts
    #   url: /gallery
    #   weight: 2
    #Dropdown menu
    # - identifier: dropdown
    #   title: Example dropdown menu
    #   name: Dropdown
    #   weight: 3
    # - identifier: dropdown1
    #   title: example dropdown 1
    #   name: example 1
    #   url: /#
    #   parent: dropdown
    #   weight: 1
    # - identifier: dropdown2
    #   title: example dropdown 2
    #   name: example 2
    #   url: /#
    #   parent: dropdown
    #   weight: 2

params:
  title: "Garrett Kirsch"
  description: A passionate computer engineer.
  # staticPath: ""  # The path to serve the static files from
  favicon: "/fav.svg"

  tags: []

  # Whether to serve bootstrap css and js files from CDN or not. Can be set to true, "css" or "js" to choose between
  # serving both, only the css, or only the js files through the CDN. Any other value will make so that CDN is not used.
  # Note the lack of "" in true, it should be of boolean type.
  useBootstrapCDN: false

  # If you want to load dynamically responsive images from Cloudinary
  # This requires your images to be uploaded + hosted on Cloudinary
  # Uncomment and change YOUR_CLOUD_NAME to the Cloud Name in your Cloudinary console
  # cloudinary_cloud_name: "YOUR_CLOUD_NAME"

  # Whether to add mathjax support on all pages. Alternatively, you can opt-in per page by adding `mathjax: true` in the frontmatter.
  mathjax: false

  # Whether the fade animations on the home page will be enabled
  animate: true

  theme:
    disableThemeToggle: true
    defaultTheme: "dark" 

  font:
    fontSize: 1rem # default: 1rem
    fontWeight: 400 # default: 400
    lineHeight: 1.5 # default: 1.5
    textAlign: left # default: left

  # color preference
  # When using hex codes for colors, quotations must be used along with the # sign
  # color:
  #   textColor: "#343a40"
  #   secondaryTextColor: "#6c757d"
  #   textLinkColor: "#007bff"
  #   backgroundColor: "#eaedf0"
  #   secondaryBackgroundColor: "#64ffda1a"
  #   primaryColor: "#007bff"
  #   secondaryColor: "#f8f9fa"

  #   darkmode:
  #     textColor: "#e4e6eb"
  #     secondaryTextColor: "#b0b3b8"
  #     textLinkColor: "#ffffff"
  #     backgroundColor: "#18191a"
  #     secondaryBackgroundColor: "#212529"
  #     primaryColor: "#ffffff"
  #     secondaryColor: "#212529"

  # If you want to customize the menu, you can change it here
  navbar:
    align: ms-auto # Left: ms-auto | center: mx-auto | right: me-auto | Default: ms-auto
    # brandLogo: "/logo.png" # Logo for the brand | default is the favicon variable
    # showBrandLogo: false # Show brand logo in nav bar | default is true
    brandName: "Garrett Kirsch" # Brand name for the brand | default is the title variable
    disableSearch: true
    # searchPlaceholder: "Search"
    stickyNavBar:
      enable : true
      showOnScrollUp : true
    enableSeparator: false
    menus:
      disableAbout: false
      disableExperience: false
      disableEducation: false
      disableProjects: false
      disableAchievements: true
      disableContact: false

  # Hero
  hero:
    enable: true
    intro: "Hi, my name is"
    title: "Garrett."
    subtitle: "I love engineering."
    content: "A computer engineer with a passion for chips. I love low-level software and high-level hardware, especially whenever the two intersect."
    image: /images/Profile_Picture.jpg
    bottomImage:
      enable: true
    # roundImage: true # Make hero image circular | default false
    button:
      enable: true
      name: "Resume"
      url: "/garrett-kirsch-resume.pdf"
      download: false
      newPage: true
    socialLinks:
      fontAwesomeIcons:
        - icon: fab fa-github
          url: https://github.com/garrett-kirsch
        - icon: fab fa-linkedin
          url: https://www.linkedin.com/in/garrett-kirsch/
      # customIcons:
      #   - icon: /fav.svg
      #     url: "https://example.com"

  # About
  about:
    enable: true
    title: "About Me"
    #image: "/images/me.png"
    content: |-
      **Who I am:**
      
      I was born and raised in Cincinnati, Ohio, a city I’m proud to call home even
      as I embrace opportunities to experience new places and cultures. My journey
      has been shaped by a passion for travel, sports, and music, each contributing
      to my curiosity, adaptability, and collaborative spirit. Whether navigating a new
      city, engaging with diverse teams, or playing music with friends, these
      experiences have deepened my ability to connect with people from all walks
      of life.
      These interests outside of engineering have broadened my perspective,
      encouraging creative problem-solving and a balanced approach to my
      professional work. I’m known for my enthusiasm, open communication, and
      willingness to jump into new challenges with energy and positivity. At the core,
      I believe in bringing authenticity and a sense of fun to every
      environment—qualities that, I’ve found, help build strong, effective teams and
      lasting professional relationships. 

      **What I Do:**

      I am a computer engineering student at the University of Pennsylvania with a
      strong interest in chip design and computer systems. My academic
      background bridges both hardware and software, and I am particularly
      passionate about working at the intersection of these fields. Although my
      studies often involve late nights troubleshooting in the lab or analyzing
      waveforms, the experience of bringing innovative projects to life continually
      fuels my desire to push boundaries and contribute new ideas to the field.

      I am currently working full-time in the [CyberSavvy Lab](https://cybersavvy.seas.upenn.edu/) under Professors Jinf
      Li and Andre DeHon, where I am responsible for turning our FPGAs into cloud resources 
      using Docker and Kubernetes.
      
    skills:
      enable: true
      title: "Tools and Programming Languages:"
      items:
        - "Docker"
        - "Kubernetes"
        - "SystemVerilog"
        - "Java"
        - "SPICE"
        - "Electric VLSI"
        - "git"
        - "Bash scripting"
        - "Linux CLI"
        - "Python"
        - "Kotlin"
        - "OCaml"
        - "Positive attitude"
        - "Infectious enthusiasm"

  # Experience
  experience:
    enable: true
    title: "Experience"
    index: false
    items:
      - job: "Research Assistant"
        company: "CyberSavvy"
        companyUrl: "https://cybersavvy.seas.upenn.edu/"
        date: "May 2025 - present"
        featuredLink:
          enable: false
          name: "View the project"
          url: "https://example.com"
        info:
          enable: false
          content: " "
        content: |
          Setting up cloud communication between FPGAs for easy deployment and updates. 
          Extensive use of Docker and Kubernetes to containerize and manage applications. 
          Setting up systems such as NFS servers, QEMU VMs, and Tio device monitors.

      - job: "Quality Assurance and Developer Relations Intern"
        company: "Pieces for Developers"
        companyUrl: "https://pieces.app"
        date: "May 2024 - Aug 2024"
        featuredLink:
          enable: false
          name: "View the project"
          url: "https://example.com"
        info:
          enable: false
          content: " "
        content: |
          Testing for bugs in new releases and focusing heavily on the 
          power-user experience. Identified several critical 
          bugs and helped polish the app in preparation for a paid model.
        
      - job: "Teaching Assistant"
        company: "UPenn - SEAS"
        companyUrl: "https://www.upenn.edu/"
        date: "Aug 2024 - Dec 2024"
        featuredLink:
          enable: true
          url: "https://www.seas.upenn.edu/~cis2400/24fa/"
        info:
          enable: false
          content: 
        content: |
          Held recitations and office hours for CIS 2400 Intro to Computer Systems, 
          a bottom-up course covering transistors, logic gates, boolean algebra, assembly, and C. 
          Created an additional conceptual office hours that I taught during the weekend.
          

      - job: "Residential Advisor"
        company: "UPenn - CHAS"
        companyUrl: "https://www.upenn.edu/"
        date: "Aug 2024 - present"
        info:
          enable: false
        content: |
          Hold events for my residents every month under a strict budget. "On call" for several days in the semester - basically, if anything happens
          I am called in to document the event and report it to my supervisor. Very eventful!
        # featuredLink:
        #   enable: true
        #   url: "https://example.com"
        # content: |
        #   I am currently working as a software developer at [example org.](https://example.com) in San Francisco, CA. I am currently working on a project that will be used to help people find the best way to get around the city.

        #   - Lead backend developer for a product.
        #   - Created a frontend design for a product.


  # Education
  education:
    enable: true
    # title: "Custom Name"
    index: false
    items:
      - title: "Bachelor of Science in Engineering"
        school:
          name: "University of Pennsylvania, School of Engineering and Applied Sciences"
          url: "https://www.seas.upenn.edu/"
        date: "2023 - present"        
        content: |-
          Extracurricular Activities
            - Penn Latin and Ballroom Dance
        featuredLink:
          enable: false
          name: "My academic record"
          url: "https://example.com"
      - title: "High School"
        school:
          name: "Walnut Hills High School"
          url: "http://www.walnuthillseagles.com/"
        date: "2019-2023"
        content: |-
          Extracurricular Activities
            - Varsity tennis player for 2 years.
            - Flutist for my school's band for several years (as well as solo work).
            - Volunteer math tutor for local 8th graders.

  # Achievements
  achievements:
    enable: false
    # title: "Custom Name"
    items:
      - title: Google kickstart runner
        content: I solved all problems with optimal solution.
        url: https://example.com
        image: /images/achievement.jpg
      - title: Facebook Hackathon Winner
        content: Developed a product using Artificial Intelligence.
        image: /images/achievement.jpg
      - title: Hugo Profile
        content: Developed a theme and getting 1K+ downloads per month.
        url: "https://github.com/gurusabarish/hugo-profile"
        image: /images/achievement.jpg
      - title: Microsoft Imagine Runner
        content: We are developed a product which can help others.
      - title: Google Summer of Code
        content: Contributed to a open source project.
        url: https://example.com

  # projects
  projects:
    enable: true
    # title: "Custom Name"
    items:
      - title: RISCV Processor
        content: |
          A multicycle, pipelined RISCV processor built using SystemVerilog. 
          Implements a cache with the Arm AXI4-Lite protocol for data and instruction memory.
        image: /images/projects/cpu.jpg
        # featured:
        #   name: Repo
        #   link: https://github.com/garrett-kirsch/CIS_5710
        badges:
          - "SystemVerilog"
          - "RTL"
          - "Computer Architecture"
        links:
          - icon: fab fa-github
            url: https://github.com/garrett-kirsch/CIS_5710
        
      - title: SRAM Core
        content: |
          A 64-bit SRAM core built from the ground-up with VLSI tools and simulated using Ngspice. 
          Peripheral circuits include a two-phase clock, bit prechargers, row and column decoders, and data bus registers.
        image: /images/projects/sram.jpg
        featured:
          name: Report
          link: https://docs.google.com/document/d/1qUxATIpc8Za0tYuLL_VTnB8aUX0jMXnSpnShS4VQIMk/edit?usp=sharing
        badges:
          - "VLSI"
          - "Digital IC"
          - "SPICE"
        # links:
        #   - icon: fab fa-github
        #     url: https://github.com/gurusabarish/converter

      - title: Music Transposer
        content: |
          Embedded systems project that takes in an input melody and outputs the same melody with a number of half-step shifts determined by the user. 
          Includes an LCD screen that displays the shifted note. Programmed with bare metal C on the ATMega328PB.
        image: /images/projects/piano.jpg
        featured:
          name: Demo
          link: https://drive.google.com/file/d/1ngGfAtsrGlymLhpcTdSK29lmTKguykDP/view?usp=sharing
        badges:
          - "Embedded Systems"
          - "Bare Metal C"
          - "Low Level Graphics"
        links:
          - icon: fab fa-github
            url: https://github.com/upenn-embedded/final-project-s25-the-redeem-team

      - title: Metal Detector
        content: |
          A custom metal detector using a PCB that I routed (not my best work), soldered (when I paid for my mistakes), and tuned myself. 
          Design uses two oscillators, a mixer, several CS Amps, a CG Amp, and a CD Amp for output.
        image: /images/projects/metal_detector_pcb.jpg
        featured:
          name: Report
          link: https://docs.google.com/document/d/1Ev00fLFrK_dnF9JuYy6zgi82zXWfDipZKQnROQgLdxA/edit?usp=sharing
        badges:
          - "Analog IC"
          - "PCB Layout"
          - "Soldering"
          - "SPICE"
        # links:
        #   - icon: fab fa-github
        #     url: https://github.com/gurusabarish/HugoProfileV2
      - title: 8-Bit Ripple-Carry Adder
        content: An 8b RCA designed from scratch using VLSI tools and simulated using Ngspice. Tested for correctness and optimized for performance. 
        image: /images/projects/Full_Adder.png
        featured:
          name: Report
          link: https://docs.google.com/document/d/1jCyHxDtUqd9ptm8j6LoAcbKIrH7rGucXQMwGSG8OJ2g/edit?usp=sharing
        badges:
          - "VLSI"
          - "Digital IC"
          - "SPICE"

  # friends:
  #   enable: true
  #   title: "My Friends"
  #   items:
  #     - name: "Alice Johnson"
  #       url: "https://alice.dev"
  #       content: "Full-stack developer and coffee enthusiast"
  #       image: "/images/friends/alice.jpg"
  #     - name: "Bob Smith"
  #       url: "https://bob.codes"
  #       content: "AI researcher and gamer"
  #       image: "/images/friends/bob.jpg"


  #Contact
  contact:
    enable: true
    # title: "Custom Name"
    # content: "TO-DO" 
    btnName: Email me
    btnLink: mailto:garrettokirsch@gmail.com
    # formspree:
    #   enable: true # `contact.email` value will be ignored
    #   formId: abcdefgh # Take it from your form's endpoint, like 'https://formspree.io/f/abcdefgh'
    #   emailCaption: "Enter your email address"
    #   messageCaption: "Enter your message here"
    #   messageRows: 5

  footer: 
    recentPosts:
      path: "blogs"
      count: 3
      title: Recent Posts
      enable: false
      disableFeaturedImage: false
    socialNetworks:
      github: https://github.com/garrett-kirsch
      linkedin: https://www.linkedin.com/in/garrett-kirsch/
      

  # List pages like blogs and posts
  listPages:
    disableFeaturedImage: false

  # Single pages like blog and post
  singlePages:
    socialShare: true
    readTime:
      enable: true
      content: "min read"
    scrollprogress:
      enable: true
    tags:
      openInNewTab: true

  # For translations
  terms:
    read: "Read"
    toc: "Table Of Contents"
    copyright: "All rights reserved"
    pageNotFound: "Page not found"
    emailText: "Check out this site"

  datesFormat:
    article: "Jan 2, 2006"
    articleList: "Jan 2, 2006"
    articleRecent: "Jan 2, 2006"

  #customScripts: -| # You can add custom scripts which will be added before </body> tag
  #  <script type="text/javascript"><!-- any script here --></script>
